<?xml version="1.0" encoding="utf-8"?>
<document version="2.0">
  <paragraph>
    Ask any questions about {{ subpart_name }} here.
  </paragraph>
  <paragraph>
    Spec: {{ spec_url }}
  </paragraph>
</document>