<?xml version="1.0" encoding="utf-8"?>
<document version="2.0">
  <paragraph>
    Feel free to use this thread as a place to look for a partner for Project {{ project_num }}!
    As a reminder, all work must be done synchronously if you choose to have a project partner.
  </paragraph>
  <paragraph>
    Please mark your followup as resolved when you've found a partner!
  </paragraph>
</document>